/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */


.part1{
    background-color: #2F2E41;
    width: 100%;
    height: auto;
    display: inline-block;
   
    
}

.body{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;

    
   
}

@media (max-width:480px){
    .body{
        flex-direction: column-reverse;
        padding-top: 12vh;
        justify-content: center;
    }

   


}