
.part1{
    background-color: #2F2E41;
    width: 100%;
    height: auto;
    display: inline-block;
   
    
}

.body{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    
   
}

@media (max-width:480px){
    .body{
        flex-direction: column-reverse;
        padding-top: 20%;
    }


}