.coverImg{
    height: 40vh;
    width: 20%;
    border-radius: 100%;
    position: relative;
    left: 70%;
    bottom: 35%;
    
    animation-name: shadow;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    

}


@keyframes shadow {
    from{
        box-shadow: 3px 3px 3px rgb(102, 0, 254);

    }

    to{
        box-shadow: 3px 3px 3px rgb(254, 38, 0);

    }
    
}