#circle1{
    animation-name: circle1;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    
    
}




@keyframes circle1 {
    0%{
        fill: purple;
    }
    25%{
        fill: orangered;
    }
    50%{
        fill: rgb(136, 0, 255);
    }
    75%{
        fill: teal;
    }
    100%{
        fill: rgb(128, 0, 0);
    }
}

