.header{
    display: flex;
    width: 80vw;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
    border-radius: 5rem;
    margin: auto;
    z-index: 10;
    position: absolute;
    top: 2%;
    left: 10%;
  
    
    
}

.progIcon{
  
   height: 60%;
   
   
}

.box2{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
    border-radius: 12px;
}

.box2 ul{
    display: flex;
    list-style: none;
    font-weight: bold;
    justify-content: space-around;
    width: 70%;
    color: rgb(255, 255, 255);
    

}

.box2 li:hover,
li:active{
    color: rgb(190, 123, 0);
    cursor: pointer;
}

.button{
    width: 20%;
    height: 6vh;
    border: 2px solid rgba(0, 0, 0, 0);
    text-align: center;
    border-radius: 50px;
    font-weight:bolder;
    color:black;
    background-color: rgb(255, 166, 0);

}

.button:hover,
.button:active{
    background-color: rgb(170, 0, 255);
    cursor: pointer;
    box-shadow: 1px 1.6px 2px rgb(119, 111, 111);
    color: white;
}