*{
    margin: 0;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header h1{
    size: 100px;
}

.div2{
    width: 50vw;
    display: flex;
    justify-content: space-between;
    background-color: coral;
    
    
}

.header button{
    height: 7vh;
    width: 10vw;
    background: red;
    border:2px black solid ;
    border-radius: 16px;
    margin-right: 3vw;
    color: white;
    font-weight: bold;
    cursor: pointer;


}

.header button:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}