#wire{
    animation-name: wire;
    animation-duration: 1s;
    animation-direction:alternate-reverse;
    animation-iteration-count: infinite;
    fill: red;
    
}

@keyframes wire {
    from{
        fill: red;
    }
     to{
         fill: rgb(246, 255, 0);
     }
}


#screen{
    animation-name: screen;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
    animation-iteration-count: infinite;
   
}

@keyframes screen {
    0%{
        fill: red;
    }

    15%{
        fill: orange;
    }
    30%{
        fill: yellow;
    }
    45%{
        fill: green;
    }

    60%{
        fill: blue;
    }

    75%{
        fill: indigo;
    }

    100%{
        fill: violet;
    }

    
}

#head{
    fill: rgb(255, 0, 255);
    animation-name: wire;
    animation-duration: 1s;
    animation-direction:alternate-reverse;
    animation-iteration-count: infinite;
}