*{
    margin: 0%;
    padding: 0%;
}
.App{
    background-image: url("C:/Users/prabe/OneDrive/Desktop/personalwebsite/personalwebsite/public/backImg.jpg");
    /* background-image: url("https://tse2.mm.bing.net/th?id=OIP.4g2qAKm98ej_OPBC65mAuAHaFA&pid=Api&P=0&w=246&h=166"); */
    width: 100%;
   height: 150vh;
    background-size: cover;
    background-repeat:repeat-y;
}